#userProfile
	.round-image-profile= image_tag(@user.avatar.url(:medium))
	.author_name_in_profile
		- if @user.name
			= @user.name
		- else
			DoThis
	.author_intro
		- if @user.intro
			= @user.intro
		- else
			- if @user.name
				= @user.name
			- else
				DoThis
			님의 작품
	= image_tag "/images/user_arrow.png", class: "user_arrow"
- total = @posts_story.length + @posts_sale.length
- round = total / 11 + 1
- idx = 0
- while idx < round
	- posts_index = 0
	- while posts_index < 11
		- remainder = posts_index % 11
		- if remainder == 0
			= @posts_story[idx * 2, 2].each_slice(2) do |posts|
				.row
					- posts.each do |post|
						.col-md-6
							.post_story
								.box_wrapper
									.image_wrapper
										= link_to (image_tag post.image.url(:front_image)), post, class: 'fancybox'
										%h2= link_to post.title, post, class: 'fancybox'
		- if remainder == 2
			= @posts_sale[idx * 9, 9].each_slice(3) do |posts|
				.row
					.sale_body
						- posts.each do |post|
							.col-md-4
								.post_sale
									.box_wrapper
										= link_to (image_tag post.image.url(:sale_image)), post, class: 'fancybox'
										.description
											.title
												= post.title
												%br
												&#8361
												= post.price
											.like
												= post.get_likes.size
												%i.glyphicon.glyphicon-heart
										.divide
										.author
											.author_thumb
												= image_tag(post.user.avatar.url(:thumb), class: "round-image-sale-thumb")
											.author_name
												- if post.user.name
													= link_to post.user.name, post.user
												- else
													= link_to post.user.email, post.user
											.author_info
												= post.user.professional_field
		- posts_index = posts_index + 1
	- idx = idx + 1