= simple_form_for @post, html: { multipart: true } do |form|
  - if @post.errors.any?
    #errors
      %h2
      = pluralize(@post.errors.count, "error")
      prevented this Post from saving
      %ul
        - @post.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = form.input :image, placeholder: '대표 사진을 첨부하세요.', input_html: { class: 'form-control' }

  .form-group
    = form.input :title, input_html: { class: 'form-control' }

  .form-group
    = form.input :tag_list_fixed, placeholder: '하나 이상의 태그는 콤마(,)로 구분하여 입력하세요.', input_html: { class: 'form-control' }

  .form-group
    = form.label :is_sale, "판매 중?"
    = form.check_box :is_sale

  .form-group
    = form.input :price, input_html: { class: 'form-control' }

  .form-group
    = form.input :sale_url, input_html: { class: 'form-control' }

  .form-group
    = form.cktext_area :description, rows: 200, input_html: { class: 'form-control' }

  = form.button :submit, class: "fancybox btn btn-primary"