- total = @posts_story.length + @posts_sale.length
- round = total / 11 + 1
- idx = 0
- while idx < round
	- posts_index = 0
	- while posts_index < 2
		- if posts_index == 0
			- if @posts_story[idx * 2, 2]
				= @posts_story[idx * 2, 2].each_slice(2) do |posts|
					.row
						- posts.each do |post|
							.col-md-6
								.post_story
									.box_wrapper
										= link_to post, class: 'fancybox' do
											.image_wrapper
												= image_tag post.image.url(:front_image)
												%h2= post.title
		- if posts_index == 1
			- if @posts_sale[idx * 9, 9]
				= @posts_sale[idx * 9, 9].each_slice(3) do |posts|
					.row
						.sale_body
							- posts.each do |post|
								.col-md-4
									.post_sale
										.box_wrapper
											= link_to (image_tag post.image.url(:sale_image)), post, class: 'fancybox'
											.description
												.title
													= post.title
													%br
													&#8361
													= post.price
												.like
													= post.get_likes.size
													%i.glyphicon.glyphicon-heart
											.divide
											.author
												.author_thumb
													= image_tag(post.user.avatar.url(:thumb), class: "round-image-sale-thumb")
												.author_name
													- if post.user.name
														= link_to post.user.name, post.user
													- else
														= link_to post.user.email, post.user
												.author_info
													= post.user.professional_field
		- posts_index = posts_index + 1
	- idx = idx + 1