.post_show
	.sale_type
		.post_heading
			%span
				= link_to "구매하기", @post.sale_url, class: "buy_btn", :target => "_blank"
			%span.description
				.title
					= @post.title
				.price
					&#8361
					= @post.price
			%span.heading_right
				.like
					= @post.get_upvotes.size
					= link_to like_post_path(@post), method: :put, class: "btn btn-default" do
						%span.glyphicon.glyphicon-heart
				.author
					.author_thumb
						= link_to image_tag(@post.user.avatar.url(:thumb), class: "round-image-thumb"), @post.user
					.author_name
						- if @post.user.name
							= link_to @post.user.name, @post.user
						- else
							= link_to @post.user.email, @post.user
					.author_info
						= @post.user.professional_field
		.arrow-down
	.post_body
		%p.description= @post.description.html_safe
		- if @post.is_sale?
			= image_tag "/images/sale_detail_format.png"
			%p.description= @post.sale_detail.html_safe
	.post_tag
		- if @post.tag_list.size > 0
			.tag_list= fa_icon('tags') + " " + tag_icons(@post.tag_list)
	.post_footer
		- if user_signed_in?
			= link_to "수정", edit_post_path, class: "fancybox btn btn-default"
			= link_to "삭제", post_path, method: :delete, data: { confirm: "정말로 삭제 하시겠습니까?" }, class: "btn btn-default"
		/ = link_to "뒤로가기", posts_path, class: "btn btn-default"
	.releated_posts
		%h2 이 브랜드의 다른 상품
		- @user_sales[0, 3].each_slice(3) do |sales|
			.row
				.sale_body
					- sales.each do |sale|
						.col-md-4.col-xs-6
							.post_sale
								.box_wrapper
									= link_to (image_tag sale.image.url(:sale_image)), sale
									.description
										.title
											= sale.title
											%br
											&#8361
											= sale.price
										.like
											= sale.get_likes.size
											%i.glyphicon.glyphicon-heart
		%h2 당신을 위한 추천 스토리
		- @posts_story[0, 3].each_slice(3) do |stories|
			.row
				.sale_body
					- stories.each do |story|
						.col-md-4.col-xs-6
							.brand-story
								.box_wrapper
									.image_wrapper
										= link_to (image_tag story.image.url(:sale_image)), story
									.description
										.title
											= story.title
									.links
										= link_to story.link_url, target: "_blank" do
											.story_button
												스토리 보기
										- @sales = @posts.tagged_with(story.tag_list).where(is_sale: true).all.order("RANDOM()")
										- if @sales.empty?
											= link_to @sales.last do
												.sale_button
													구매 정보
										- else
											= link_to @sales.last, class: 'fancybox' do
												.sale_button
													구매 정보
	.post_comments
		= render 'comments/comments'