- if notice
	#notice_wrapper
		%p.notice= notice
- elsif alert
	#notice_wrapper
		%p.alert= alert
%nav.navbar.navbar-default.navbar-fixed-top{:role => "navigation"}
	.container
		.navbar-header
			%button.navbar-toggle.collapsed{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
				%span.sr-only Toggle navigation
				%span.icon-bar
				%span.icon-bar
				%span.icon-bar
			.navbar-brand= link_to image_tag("logo.png", size: "50x50"), root_path

		.collapse.navbar-collapse{:id => "bs-example-navbar-collapse-1"}
			.nav.navbar-nav.navbar-right
				- if user_signed_in?
					%span=link_to "글쓰기", new_post_path
					%span=link_to image_tag(current_user.avatar.url(:thumb), class: "round-image-thumb"), current_user
					/ - if current_user.name
					/ 	%li=link_to current_user.name, current_user
					/ - else
					/ 	%li=link_to "DoThis", current_user
					%span=link_to "프로필 수정", edit_user_registration_path
					%span=link_to "로그아웃", destroy_user_session_path, method: :delete
				- else
					%li=link_to "회원가입", new_user_registration_path
					%li=link_to "로그인", new_user_session_path
			= form_tag search_posts_path, method: :get, class: "navbar-form navbar-left", role: "search" do
				= text_field_tag :search, params[:search], class: "form-control"
				/ = submit_tag "검색", name: nil, class: "btn btn-default"