!!!5
%html
%head
	%title DoThis
	= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
	= javascript_include_tag 'application', 'data-turbolinks-track' => true
	= csrf_meta_tags
%body
	%nav.navbar.navbar-default.navbar-fixed-top
		.container
			.navbar-brand= link_to "DoThis", root_path

			- if user_signed_in?
				%ul.nav.navbar-nav.navbar-right
					%li=link_to "글쓰기", new_post_path
					%li.round-image-50=image_tag(current_user.avatar.url(:thumb))
					%li=link_to current_user.name, edit_user_registration_path
					%li=link_to "프로필 수정", edit_user_registration_path
					%li=link_to "로그아웃", destroy_user_session_path, method: :delete
			- else
				%ul.nav.navbar-nav.navbar-right
					%li=link_to "회원가입", new_user_registration_path
					%li=link_to "로그인", new_user_session_path
	.container
		= render 'layouts/flash_messages'

	= yield